{% extends "base" %} {% block content %}
<h1>{{ name }}</h1>

<div class="twelve columns">
    <a href="/monsters">
        <input type="button" value="Back" />
    </a>
</div>

<div class="twelve columns">
    <p>id: {{ id }}</p>
    <p>hp: {{ hp }}</p>
</div>

{% endblock content %}